/* */@charset "utf-8";
/*common styles*/
body {
	
	background-color: #4D5552;
	font-family:Sans-serif;
	
	line-height: 1.2;
	font-size: 1.0EM;
}
.header {
	width: 100%;
	text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}






